// app global css
.vertical-center-align{
 display flex
 flex-direction column
 justify-content center
 text-align center
}

.search-row{
 justify-content flex-end
 padding-bottom 2%
}

.button-row{
 justify-content center
 padding-top 2%    
}

.main-row{
 height 60%    
}

.space-between{
 padding-bottom 1.5%    
}

.big-input > .q-field__inner > .q-field__control{
 height 100%    
}
.btn-bot{
 position absolute
 bottom 0
}
.container img {
 position relative
 width 90%
 height auto
}
.image {
 display block
 width 100%
 height auto
 opacity 1

 backface-visibility hidden
 transition 0.5s ease
}

.middle {
 -ms-transform translate(-50%, -50%)
 position absolute
 top 50%
 left 50%

 opacity 0

 transition 0.5s ease
 transform translate(-50%, -50%)
}

.container:hover .image {
 opacity 0.3
}

.container:hover .middle {
 opacity 1
}

.text {
 padding basis(2) basis(4)
 font-size basis(2)
 color white
 background-color green 
}

.tekst{
 font-size 1.0em
 font-weight bold
}